@use "./../../scss/variables.scss" as *;

.similar-products {
  .container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h3 {
      color: $secondary-color;
      font-size: 28px;

      text-align: left;
    }

    p {
      color: #575756;
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    overflow-x: scroll;

    padding: 20px 0;
    margin-bottom: 50px;

    gap: 32px;

    // @media screen and (max-width: 767px) {
    //   flex-wrap: wrap;
    // }
  }
}
