* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}

.top-navbar {
  height: 48px;
  background-color: #FFF100;
}

.navbar {
  height: 84px;
}

.bottom-navbar {
  height: 48px;
  background-color: #000000;
}