@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
